table {
  background-color: plum;
	}
	
h2 {
		color: purple;
		font-size: 30px;
		text-decoration: underline;
		text-align: center;
		font-style: italic;
	}
h2.reg {
	font-weight: bold; 
	text-align: left;
}

p {
	font-weight: bold;
}

h1 {
	color: darkblue;
}

td.linktobank {
	text-align: center;
}